<div id="page-content">
   <div class="container">
      <div class="text-center">
         <h1>Listing Articles</h1>
         <div class="flickr_pagination">
            <div class="page_info">
              <%= page_entries_info @articles %>
            </div>
            <%= will_paginate @articles, :container => false %>
          </div>
         <% @articles.each do |article|%>
         <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
               <div class="shadow mb-5 bg-white rounded">
                  <div class="card">
                    <% if article.user %>
                    <h5 class="card-header font-italic">By <%= link_to "#{article.user.first_name} #{article.user.last_name}", article.user %></h5>
                    <% else %>
                    <h5 class="card-header font-italic">By</h5>
                      <% end %>
                     <div class="card-body">
                        <h5 class="card-title"><%= link_to article.title,article_path(article), class: "text-success" %></h5>
                        <p class="card-text"><%= truncate(article.description, length: 100) %></p>
                        <p class="card-text"><%= article.tags %></p>
                        <p class="card-text"><%= article.category %></p>
                        <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
                          <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
                            <%= link_to "Delete", article_path(article), method: :delete,data: {confirm: "Are you sure"}, class: "btn btn-outline-danger" %>
                            <br>
                            <p class="card-footer font-italic mt-2"><small>Created at: <%= time_ago_in_words(article.created_at) %> Edited at <%= time_ago_in_words(article.updated_at) %></small></p>
                        <!--
                        <a href="#" class="btn btn-outline-success">View</a>
                        <a href="#" class="btn btn-outline-info">Edit</a>
                        <a href="#" class="btn btn-outline-danger">Delete</a>
                        -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <% end %>
         <div class="flickr_pagination">
            <div class="page_info">
              <%= page_entries_info @articles %>
            </div>
            <%= will_paginate @articles, :container => false %>
          </div>
      </div>
   </div>
</div>
<!--
   <table>
     <thead>
       <tr>
         <th>Title</th>
         <th>Description</th>
         <th>Tags</th>
         <th>Category</th>
         <th>Actions</th>
         </tr>

       <tbody>
         <% @articles.each do |article|%>

         <tr>
           <td><%= article.title %></td>
           <td><%= article.description %></td>
           <td><%= article.tags %></td>
           <td><%= article.category %></td>
           <td><%= link_to 'Edit', edit_article_path(article) %></td>
           <td><%= link_to 'Show', article_path(article) %> </td>
           <td><%= link_to 'Delete', article_path(article), method: :delete,data: {confirm: "Are you sure"} %></td>
         </tr>

         <% end %>
   </table>
   -->
<p><%= link_to "Create New Article", new_article_path %></p>
