
<%= render 'shared/errors', obj: @user %>

<%= form_with(model: @user, class: "shadow mb-5 p-3 rounded bg-secondary", local: true) do |f| %>
  <div class="form-group row mb-2">

<%= f.label :first_name,class: "col-sm-2 col-form-label text-white" %>
<div class="col-sm-10">
<%= f.text_field :first_name, class: "form-control shadow rounded"  %>
</div>
</div>
<div class="form-group row mb-2">
<%= f.label :last_name,class: "col-sm-2 col-form-label text-white" %>
<div class="col-sm-10">
<%= f.text_field :last_name, class: "form-control shadow rounded" %>
</div>
</div>
<div class="form-group row mb-2">
<%= f.label :role,class: "col-sm-2 col-form-label text-white" %>
<div class="col-sm-10">
<%= f.text_field :role, class: "form-control shadow rounded" %>
</div>
</div>
<div class="form-group row mb-2">
<%= f.label :username,class: "col-sm-2 col-form-label text-white" %>
<div class="col-sm-10">
<%= f.text_field :username, class: "form-control shadow rounded" %>
</div>
</div>
<div class="form-group row mb-2">
<%= f.label :email, class: "col-sm-2 col-form-label text-white" %>
<div class="col-sm-10">
<%= f.email_field :email, class: "form-control shadow rounded" %>
</div>
</div>
<div class="form-group row mb-2">
<%= f.label :password, class: "col-sm-2 col-form-label text-white" %>
<div class="col-sm-10">
<%= f.password_field :password, class: "form-control shadow rounded" %>
</div>
</div>


<%= f.submit(@user.new_record? ? "Sign Up" : "Update Profile",  class: "btn btn-outline-light btn-lg")%><br>



<% end %>
