

<% @articles.each do |article|%>
<div class="row justify-content-md-center">
   <div class="col-8 mt-4">
      <div class="shadow mb-5 bg-white rounded">
         <div class="card">
            <h5 class="card-header font-italic"><%= link_to "#{article.user.first_name} #{article.user.last_name}", article.user %></h5>
            <div class="card-body">
              <% if article.categories.any? %>
              <div class="mt-2">
              <%= render article.categories %>
              </div>
              <% end %>
               <h5 class="card-title"><%= link_to article.title,article_path(article), class: "text-success" %></h5>
               <p class="card-text"><%= truncate(article.description, length: 100) %></p>
               <p class="card-text"><%= article.tags %></p>
               <p class="card-text"><%= article.notes %></p>
               <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
               <% if logged_in? && (article.user == current_user || current_user.admin? )  %>
                 <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
                   <%= link_to "Delete", article_path(article), method: :delete,data: {confirm: "Are you sure"}, class: "btn btn-outline-danger" %>
                   <% end %>
                   <br>
                   <p class="card-footer font-italic mt-2"><small>Created at: <%= time_ago_in_words(article.created_at) %> Edited at <%= time_ago_in_words(article.updated_at) %></small></p>
               <!--
               <a href="#" class="btn btn-outline-success">View</a>
               <a href="#" class="btn btn-outline-info">Edit</a>
               <a href="#" class="btn btn-outline-danger">Delete</a>
               -->
            </div>
         </div>
      </div>
   </div>
</div>
<% end %>
